# Temporary Build Files
/build/

# VisualStudioCode
.vscode/

.idea/
*.iml

# Python
venv/
.mypy_cache/


researches/frontend-rum/apihub-faro-docker-compose/data/
!researches/frontend-rum/apihub-faro-docker-compose/data/.gitkeep
researches/frontend-rum/apihub-otel-browser-docker-compose/data/
!researches/frontend-rum/apihub-otel-browser-docker-compose/data/.gitkeep

__pycache__/
